footer.footer-common
  .block-footer-information
    .wrapper
      .block-wrapper
        .title-common-primary.is-lion CHỦ ĐẦU TƯ
        figure.block-logo
          img.image-common(src=imgCommonPC+"icon_company_01.svg" width="179" height="212" loading="lazy" alt="")
      .block-wrapper
        .title-common-primary.is-lion ĐƠN VỊ PHÁT TRIỂN
        figure.block-logo
          img.image-common(src=imgCommonPC+"icon_company_02.svg" width="292" height="168" loading="lazy" alt="")
    .slider-footer-company.js-slider-company
      .slider-viewport.swiper(data-slider-role="viewport")
        .slider-wrapper.swiper-wrapper
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
      .slider-viewport.swiper(data-slider-role="viewport" data-slider-direction="opposite")
        .slider-wrapper.swiper-wrapper
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
          .slider-slide.swiper-slide
            img(src=imgCommonPC+"icon_company_03.svg" width="270" height="170" loading="lazy" alt="")
  .contact-footer
    .wrapper
      ul.table-footer-contact
        li.table-entry
          span.entry-title Địa chỉ Sales Office
          ul.list-footer-details
            li.list-item
              span.item-icon.is-address 
              span.item-wrapper 2012, Võ văn kiệt, Phường An Lạc, TP. HCM,
            li.list-item
              span.item-icon.is-email 
              a.item-wrapper.trans(href="mailto:info@mbh.com.vn") info@mbh.com.vn,
            li.list-item
              span.item-icon.is-phone 
              a.item-wrapper.trans(href="tel:0912017739") 091 201 7739
        li.table-entry
          span.entry-title Địa chỉ Sales Gallery
          ul.list-footer-details
            li.list-item
              span.item-icon.is-address 
              span.item-wrapper 2012, Võ văn kiệt, Phường An Lạc, TP. HCM,
            li.list-item
              span.item-icon.is-email 
              a.item-wrapper.trans(href="mailto:info@mbh.com.vn") info@mbh.com.vn,
            li.list-item
              span.item-icon.is-phone 
              a.item-wrapper.trans(href="tel:0912017739") 091 201 7739
      form.form-footer-contact
        span.form-title ĐĂNG KÝ TƯ VẤN
        .form-detail
          p Quý khách vui lòng để lại thông tin, đội ngũ chuyên viên sẽ liên hệ tư vấn trong thời gian sớm nhất, 
        .form-wrapper
          .input-common
            input(type="text" placeholder="Họ tên (*)")
          .input-common
            input(type="email" placeholder="Email")
          .input-common
            input(type="tel" placeholder="Điện thoại (*)")
        .form-controller
          button.button-common-primary(type="submit")
            span.button-wrapper ĐĂNG KÝ
      .contact-credits
        .credits-wrapper © 2025 Mai Bá Hương. All Rights Reserved. Made by <strong>Lead Digital</strong>