footer.footer-common
  .block-footer-information
    .wrapper
      .block-wrapper
        .title-common-primary.is-lion CHỦ ĐẦU TƯ
        figure.block-logo
          img.image-common(src=imgCommonPC+"icon_company_01.svg" width="179" height="212" loading="lazy" alt="")
      .block-wrapper
        .title-common-primary.is-lion ĐƠN VỊ PHÁT TRIỂN
        figure.block-logo
          img.image-common(src=imgCommonPC+"icon_company_02.svg" width="292" height="168" loading="lazy" alt="")
      .slider-footer-company.js-slider-company
        .slider-viewport.swiper(data-slider-role="viewport")
          .slider-wrapper.swiper-wrapper
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
        .slider-viewport.swiper(data-slider-role="viewport" data-slider-direction="opposite")
          .slider-wrapper.swiper-wrapper
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")
            .slider-slide.swiper-slide
              img(src=imgCommonPC+"icon_company_02.svg" width="270" height="170" loading="lazy" alt="")