block vars
  -path = ""
  -pageID = ""
  -metaTitle = ""
  -metaDescription = ""
doctype html
block variable
  - var path = ""
  - var pathID = ""
  - var metaTitle = ""
  - var metaDescription = ""
  - var imgCommonPC  = path+"/img/common/"
  - var imgCommonSP  = path+"/img/common/sp/"
  - var imgLocalPC  = path+"/img/top/"
  - var imgLocalSP  = path+"/img/top/sp/"
html
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta#viewport(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
    meta(name="description", content=metaDescriptiom)
    title=metaTitle
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css")
    link(rel="stylesheet", href=path+"/css/styles.css")
    link(rel="stylesheet", href=path+"/css/"+pathID+".css")
  body.body
    include _header
    block main
    include _footer
    script(src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/Observer.min.js")
    script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js")
    script(src=path+"/js/scripts.js")
