extends _layout/_page

block variable
  - var path = "."
  - var pathID = "top"
  - var metaTitle = "Top"
  - var metaDescription = ""
  - var imgCommonPC  = path+"/img/common/"
  - var imgCommonSP  = path+"/img/common/sp/"
  - var imgLocalPC  = path+"/img/top/"
  - var imgLocalSP  = path+"/img/top/sp/"

block main
  main.main
    section.section-top-keyvisual
      .outer
        .inner
          .bg
            .list-top-keyvisual
              .swiper.js-slider-keyvisual
                .swiper-wrapper
                  .swiper-slide.slider-wrapper
                    .slider-image
                      img.object-common(src=imgLocalPC+"keyvisual_img_01.jpg" width="1920" height="1050" loading="eager" alt="")
                  .swiper-slide.slider-wrapper
                    .slider-image
                      img.object-common(src=imgLocalPC+"keyvisual_img_02.jpg" width="1920" height="1050" loading="eager" alt="")
                  .swiper-slide.slider-wrapper
                    .slider-image
                      img.object-common(src=imgLocalPC+"keyvisual_img_03.jpg" width="1920" height="1050" loading="eager" alt="")
                  .swiper-slide.slider-wrapper
                    .slider-image
                      img.object-common(src=imgLocalPC+"keyvisual_img_04.jpg" width="1920" height="1050" loading="eager" alt="")
                .swiper-pagination
    section.section-top-information
      .outer
        .inner
          .bg
            .wrapper
              h2.title-common-primary Thông tin tổng quan
              .information-controller
                a(href="#").button-common-primary
                  span.button-wrapper XEM THÊM
              .list-top-information
                ul.list-wrapper
                  li.list-item
                    .item-wrapper
                      h3.item-title TÊN DỰ ÁN
                      ul.item-list
                        li KDC Mai Bá Hương
                  li.list-item
                    .item-wrapper
                      h3.item-title CHỦ ĐẦU TƯ
                      ul.item-list
                        li Tandoland
                  li.list-item
                    .item-wrapper
                      h3.item-title ĐƠN VỊ PHÁT TRIỂN
                      ul.item-list
                        li Công Ty CP Mai Bá Hương <br>- MBH
                  li.list-item
                    .item-wrapper
                      h3.item-title QUY MÔ
                      ul.item-list
                        li 146,8ha với tổng sản phẩm: 5338 nền, 4 block chung cư
                  li.list-item
                    .item-wrapper
                      h3.item-title GIAI ĐOẠN XD
                      ul.item-list
                        li Giai đoạn 1: 2.008 nền
                        li Giai đoạn 2: 989 nền
                        li Giai đoạn 3: 977 nền
                        li Giai đoạn 4: 1346 nền
                  li.list-item
                    .item-wrapper
                      h3.item-title PHÁP LÝ
                      ul.item-list
                        li Có quy hoạch 1/500 - Sổ riêng từng nền - Sang tên khách hàng – Xây dựng tự do.
    section.section-top-introduction
      .outer
        .inner
          .bg
            .wrapper
              img.object-common(src=imgLocalPC+"introduction_img_01.jpg" width="1621" height="846" loading="eager" alt="")
    section.section-top-area
      .area-thumbnail.is-clippath
        img.contain-common(src=imgLocalPC+"area_img_01.png" width="1701" height="979" loading="eager" alt="VỊ TRÍ DỰ ÁN")
      .outer
        .inner
          .bg
            .wrapper
              .area-wrapper
                h2.title-common-primary.is-lion.is-start VỊ TRÍ DỰ ÁN
                .area-image
                  .image-wrapper
                    img.object-common(src=imgLocalPC+"area_img_02.png" width="402" height="437" loading="eager" alt="VỊ TRÍ DỰ ÁN")
    section.section-top-utilities
      .outer
        .inner
          .bg
    section.section-top-plan
      .outer
        .inner
          .bg
            .wrapper
              h2.title-common-primary Mặt bằng tổng thể
    section.section-top-library
      .outer
        .inner
          .bg
            .wrapper
              h2.title-common-primary.is-lion Thư viện
